<h1>TopPage</h1>
<div class="hero-unit" id="hero">
  <h2>
    確かこういうアイコン
  </h2>
  <p>Twitterで普段みてる身近なひとのアイコンをうろ覚えで描いてみるサイトです</p>
  <p><a href="" class="btn btn-primary">描いてみる</a></p>
</div>
<form><input type="text" id="color" name="color" value="#123456" /></form>
<div id="colorpicker"></div>

<div id="slider"></div>

<% content_for :head do %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<% end %>
