.pic_album ul {
  list-style-type: none;
}

.pic_album ul li {
  float: left;
  padding: 0 0 20px 30px;
}

.pic_album ul li:nth-child(3n+1) {
  padding-left: 0;
}

.pic_album ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.hero-unit {
  background-image: url(/assets/paper-texture.jpg);
}
