body {
  margin: 20px;
}
#drawbox{
}
#canvasbox {
}
#main_canvas {
  background-color: #FFFFFF;
  top: 20px;
  left: 20px;
  border: 5px solid #ccc;
  margin: 0px 0px 0px 0px;
}
#colorlist {
  top: 20px;
  width: 220px;
}
#colorgrid {
  margin-left: 0px;
}
#colorpick {
  width: 220px;
  color : #123456;
}
#color {
  width: 70px;
  height: 40px;
  border: 1px solid #000000;
}
#brush1, #brush2, #brush3, #brush4, #miter, #eraser {
  cursor:pointer;
  cursor:hand;
}
#bwbox_width {
  margin: 15px 15px 20px 0px;
  font-size:13px;
}
#bwbox_alpha {
  margin: 15px 15px 20px 0px;
  font-size:13px;
}
#bw,#alpha {
  display:inline-block;
  width: 30px;
  height: 17px;
  border: 1px solid #BBBBBB;
}
#slider1,#slider2 {
  margin: -30px 0px 0px 110px;
  width: 360px;
}
#brush_buttons {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}
#edit_buttons {
  margin-left: 10px;
  margin-right: 10px;
}
#post_buttons {
  margin-bottom: 10px;
}
#button img {
  vertical-align:middle; 
}
#save {
  margin-left: 10px;
}
#clear {
  margin-left: 10px;
}
ul {
  margin: 10px 0px 0px 0px;
  padding: 0;
  list-style: none;
}
li {
  cursor:pointer;
  cursor:hand;
  display:inline-block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 15px;
}
.ofclick { border:0px #FFFFFF solid }
.clicked { outline:3px #000000 solid }

.brash_label {
  display:inline-block;
  margin-top: 30px;
  margin-right: 14px;
}
